/Initial_results_full_version/Personas/notes.txt
/Initial_results_full_version/User_journey/test_user_flows
/Initial_results_full_version/User_journey/test_user_flows/combine_missing/combine_missing_journey_results_Rosa.json
/Initial_results_full_version/User_journey/test_user_flows/original/original_journey_results_Rosa.json
/system_building