/Initial_results_full_version/Personas/notes.txt
/Initial_results_full_version/User_journey/test_user_flows
/Initial_results_full_version/User_journey/test_user_flows/combine_missing/combine_missing_journey_results_Rosa.json
/Initial_results_full_version/User_journey/test_user_flows/original/original_journey_results_Rosa.json
/system_building/data
/system_building/privacyMotiv_system/dist
/system_building/privacyMotiv_system/node_modules
/system_building/privacyMotiv_system/public
/system_building/privacyMotiv_system/README.md

/User_flows/get_random_sub_combinations.py
/User_flows/old_combine_flows_copy.py
/User_flows/random_picked_combinations.json

/dist
/node_modules
/public